{% set settings= ' '|Settings %}
<footer class="footer  animate" data-delay="0.4s">
    <div class="line-heading  animate fadein-Right" data-delay="0.6s">
        {% if settings|length>0 and settings.footer.content.outline_text is not null %}
            <h3 class="outline-text translateX-right">
                {{ settings.footer.content.outline_text??'' }}
            </h3>
        {% endif %}
    </div>
    <div class="footer__top">
        <div class="container footer__container">
            <div class="twocol-row">
                <div class="footer__top--qlinks-wrapper">
                    <div class="footer__top--qlinks-col">
                        {% if settings|length>0 and settings.footer.content.left_description is not null %}
                            <div class="left-descrip  animate fadein-Right" data-delay="0.4s">
                                {{ settings.footer.content.left_description is defined? settings.footer.content.left_description|raw:'' }}
                            </div>
                        {% endif %}
                        <div class="contact-info-wrapper  animate fadein-Right" data-delay="0.4s">
                            {% if settings|length>0 and settings.footer.content.address is not null %}
                                <p class="address">
                                    {{ settings.footer.content.address??'' }}
                                </p>
                            {% endif %}
                            {% if settings|length>0 and settings.footer.content.email is not null %}

                                <div class="mail">
                                    <a href="mailto:{{ settings.footer.content.email }}"
                                       class="w-uline">{{ settings.footer.content.email }}</a>
                                </div>
                            {% endif %}
                            {% if settings|length>0 and settings.footer.content.contact_number is not null %}

                                <div class="num">
                                    <a href="tel:{{ settings.footer.content.contact_number }}"
                                       class="w-uline">{{ settings.footer.content.contact_number }}</a>
                                </div>
                            {% endif %}
                            <div class="icon-wrapper">
                                {% if settings|length>0 and settings.footer.content.twitter is not null %}

                                    <a class="icon" href="{{ settings.footer.content.twitter }}" target="_blank">
                                        <img class="lazy-img" data-class="lazy-img"
                                             data-src="/assets/svg/social/twitter.svg" alt="twitter">
                                    </a>
                                {% endif %}
                                {% if settings|length>0 and settings.footer.content.facebook is not null %}

                                    <a class="icon" href="{{ settings.footer.content.facebook }}" target="_blank">
                                        <img class="lazy-img" data-class="lazy-img"
                                             data-src="/assets/svg/social/facebook.svg" alt="facebook">
                                    </a>
                                {% endif %}
                                {% if settings|length>0 and settings.footer.content.instagram is not null %}

                                    <a class="icon" href="{{ settings.footer.content.instagram }}" target="_blank">
                                        <img class="lazy-img" data-class="lazy-img"
                                             data-src="/assets/svg/social/instagram.svg" alt="instagram">
                                    </a>
                                {% endif %}
                                {% if settings|length>0 and settings.footer.content.youtube is not null %}

                                    <a class="icon" href="{{ settings.footer.content.youtube }}" target="_blank">
                                        <img class="lazy-img" data-class="lazy-img"
                                             data-src="/assets/svg/social/youtube.svg" alt="youtube">
                                    </a>

                                {% endif %}
                                {% if settings|length>0 and settings.footer.content.linkedin is not null %}

                                    <a class="icon" href="{{ settings.footer.content.linkedin }}"
                                       target="_blank">

                                        <img class="lazy-img" data-class="lazy-img"
                                             data-src="/assets/svg/social/linkedin.svg" alt="linkedin">

                                    </a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="footer__top--qlinks-col">
                        <div class="qlinks__col__wrapper">
                            {% set footerMenu= 'footer'|getMenuByAlias %}
                            {% set delay= 0.4 %}
                            {% if footerMenu|length>0 %}
                                {% for menu in footerMenu %}
                                    <div class="toggle-btn qlinks__col__item  animate fadein-Right"
                                         data-delay="{{ delay }}s">
                                        <p class="">{{ menu.title??'' }}</p>
                                        {% if menu.childItems|length>0 %}
                                            <ul class="qlinks-menu">
                                                {% for child in menu.childItems %}
                                                    {% if child.enabled==1 %}
                                                        {% set childurl = child.targetUrl??'javascript:' %}
                                                        {% if child.type=='page' %}
                                                            {% set childurl = child.page.url %}
                                                        {% endif %}
                                                        <li class="qlinks-menu__item "><a href="{{ childurl }}"
                                                                                          class="w-uline">
                                                                {{ child.title??'' }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        {% endif %}
                                    </div>
                                    {% set delay = delay+0.2 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bg"></div>
</footer>