<header class="header">
    <div class="header__container container">
        <div class="header__wrapper">
            <div class="brand-logo"><a href="/" class="brand-logo__anchor">
                    <picture>
                        <source media="(min-width:576px)" srcset="/assets/brand-logo.webp">
                        <img class="lazy-img" data-src="/assets/svg/logo-mob.webp" alt="site-logo">
                    </picture>
                </a>
            </div>
            <div class="navigation-wrapper">
                <nav class="navigation">
                    <ul class="menu">
                        {% set headerMenu= 'header'|getMenuByAlias %}
                        {% if headerMenu|length>0 %}
                            {% for menu in headerMenu %}
                                {% if menu.enabled==1 %}
                                    {% set url = menu.targetUrl??'javascript:' %}
                                    {% if menu.type=='page' %}
                                        {% set url = menu.page.url %}
                                    {% endif %}
                                    <li class="menu__menuitem s-column-dropdown"><a href="{{ url }}"
                                                                                    class="menu__menuitem--menulink ">
                                            {{ menu.title??'' }}
                                        </a>
                                        {% if menu.childItems|length>0 %}
                                            <div class="s-column-dropdown-menu dropdown-js">

                                                <div class="menu-slider-wrapper">
                                                    <div class="dropdown__menu-item menu-slider-thumb-wrapper">
                                                        <div class="scroll-text">
                                            <span class="mouse">
                                                <span class="move"></span>
                                            </span>
                                                            <span class="head">Scroll down</span>
                                                        </div>
                                                        <div class="menu-slider-thumb menu-slider-thumb1 swiper">
                                                            <ul class="swiper-wrapper">
                                                                {% for child in menu.childItems %}
                                                                    {% if child.enabled==1 %}
                                                                        {% set childurl = child.targetUrl??'javascript:' %}
                                                                        {% if child.type=='page' %}
                                                                            {% set childurl = child.page.url %}
                                                                        {% endif %}
                                                                        <li class="swiper-slide">
                                                                            <div class="slide-head">
                                                                                <a href="{{ childurl }}">{{ child.title??'' }}</a>
                                                                            </div>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown__menu-item menu-slider-gallery-wrapper"
                                                         id="menu_slider_gallery_wrapper">
                                                        <div class="menu-slider-gallery menu-slider-gallery1 swiper">
                                                            <ul class="swiper-wrapper">
                                                                {% for child in menu.childItems %}
                                                                    {% if child.enabled==1 %}
                                                                        <li class="swiper-slide">
                                                                            <div class="slide-head">
                                                                                {{ child.title??'' }}
                                                                            </div>
                                                                            <ul class="list-wrapper">
                                                                                {% for subchild in child.childItems %}
                                                                                    {% if subchild.enabled==1 %}
                                                                                        {% set subchildUrl = subchild.targetUrl??'javascript:' %}
                                                                                        {% if subchild.type=='page' %}
                                                                                            {% set subchildUrl = subchild.page.url %}
                                                                                        {% endif %}
                                                                                        <li class="list-item">
                                                                                            <a href="{{ subchildUrl }}">
                                                                                                <div class="list-item__img">
                                                                                                    <img class="lazy-img"
                                                                                                         data-src="/assets/svg/menu/landing-page-30.svg"
                                                                                                         alt="">
                                                                                                </div>
                                                                                                <div class="list-item__head">
                                                                                                    {{ subchild.title??'' }}
                                                                                                </div>
                                                                                            </a>
                                                                                        </li>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </ul>
                    <div class="social-wrapper">
                        <div class="anchor-wrapper project-anchor">
                            <a href="javascript:" class="menu-open">
                                <span> Start Your Project</span>
                            </a>
                        </div>
                        <div class="anchor-wrapper whatsapp-anchor">
                            <a target="_blank" href="https://wa.me/+97142421375/?text=Hi">
                                <img class="svg-convert" src="/assets/svg/social/whatsapp.svg" alt="whatsapp">
                            </a>
                        </div>
                        <div class="anchor-wrapper">
                            <a href="tel:+97142421375">
                                <img class="svg-convert" src="/assets/svg/social/phone.svg" alt="">
                            </a>
                        </div>

                    </div>
                </nav>
                <div class="social-wrapper mob-social-wrapper">
                    <div class="anchor-wrapper">
                        <a href="javascript:"> <img class="svg-convert" src="/assets/svg/social/whatsapp.svg"
                                                    alt="whatsapp"></a>
                    </div>
                    <div class="anchor-wrapper">
                        <a href="javascript:">
                            <img class="svg-convert" src="/assets/svg/social/phone.svg" alt="">
                        </a>
                    </div>
                </div>
                <div id="toggle" class="nav-button">
                </div>
            </div>

        </div>
    </div>
</header>