{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="icon" type="image/svg" href="/assets/svg/logo.svg">#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block sonata_top_nav_menu %}
    {% if app.user and is_granted(sonata_config.getOption('role_admin')) %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                {% block sonata_top_nav_menu_locale_block %}

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <b>Site Swither: </b>
                            <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu">
                            <div class="container-fluid">
                                <div class="row">
                                    <ul class="dropdown-menu">
                                        <li role="presentation" class="dropdown-header">
                                            Site
                                        </li>
                                        {% for site in ''|getSites %}
                                            <li role="presentation"
                                                class="{{ app.request.session.get('_site') == site.id ? 'active' : '' }}">
                                                <a role="menuitem" tabindex="-1" href="?_site={{ site.id }}">
                                                    {{ site.name }}
                                                </a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endblock %}
                {% block sonata_top_nav_menu_add_block %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down"
                                                                                          aria-hidden="true"></i>
                        </a>
                        {% include get_global_template('add_block') %}
                    </li>
                {% endblock %}

                {% block sonata_top_nav_menu_user_block %}
                    {% set userBlock = include(get_global_template('user_block')) %}
                    {% if userBlock is not empty %}
                        <li class="dropdown user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fas fa-user fa-fw" aria-hidden="true"></i> <i class="fas fa-caret-down"
                                                                                        aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                {{ userBlock|raw }}
                            </ul>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.admin-locale').on('click', function () {
                setTimeout(function () {
                    location.reload();
                }, 1000)
            })
        })
    </script>
{% endblock %}

{% block sonata_page_content_nav %}
    {% if _navbar_title is not empty
        or _tab_menu is not empty
        or _actions is not empty
        or _list_filters_actions is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                {% block tab_menu_navbar_header %}
                    {% if _navbar_title is not empty %}
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                        </div>
                    {% endif %}
                {% endblock %}

                <div class="navbar-collapse">
                    {% if _tab_menu is not empty %}
                        <div class="navbar-left">
                            {% if _tab_menu is not empty %}
                                <div class="navbar-left">
                                    {{ _tab_menu|raw }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                        <div class="nav navbar-right btn-group">
                            {% for mode, settings in admin.listModes %}
                                <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}"
                                   class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i
                                            class="{{ settings.class }}"></i></a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% block sonata_admin_content_actions_wrappers %}
                        {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                            <ul class="nav navbar-nav navbar-right">
                                {% if _actions|split('</a>')|length > 2 %}
                                    <li class="dropdown sonata-actions">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b
                                                    class="caret"></b></a>
                                        <ul class="dropdown-menu" role="menu">
                                            {{ _actions|raw }}
                                        </ul>
                                    </li>
                                {% else %}
                                    {{ _actions|raw }}
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% endblock sonata_admin_content_actions_wrappers %}

                    {% if _list_filters_actions is not empty %}
                        {{ _list_filters_actions|raw }}
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock sonata_page_content_nav %}
