{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@SonataPage/layout.html.twig' %}



{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
{% if app.request.locale == 'ar' %}
    {% set direction = 'dir="rtl"' %}
    {% set lang = 'lang="ar"' %}
{% else %}
    {% set direction = 'dir="ltr"' %}
    {% set lang = 'lang="'~app.request.locale~'"' %}
{% endif %}
<html {{ sonata_seo_html_attributes() }} {{ direction|raw }} {{ lang|raw }} class=" homepage">
{% endblock %}
{% block sonata_page_head %}
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page is defined %}
            {{ sonata_seo_title() }}
        {% else %}
            <title>{% block title %} Digital Gravity | {% endblock %}</title>
        {% endif %}
        {% include 'includes/meta.html.twig' %}
        {{ sonata_seo_metadatas() }}
        {% block sonata_page_stylesheets %}
            {% block page_stylesheets %} {# Deprecated block #}
                {# {% for stylesheet in sonata_page.assets.stylesheets %}
                     <link rel="stylesheet" href="{{ asset(stylesheet) }}" media="all">
                 {% endfor %}#}
            {% endblock %}
        {% endblock %}
        {% block sonata_page_javascripts %}
            {% block page_javascripts %} {# Deprecated block #}
                {% for js in sonata_page.assets.javascripts %}
                    <script src="{{ asset(js) }}"></script>
                {% endfor %}
            {% endblock %}

        {% endblock %}
    </head>

{% endblock %}

{% block sonata_page_body_tag %}
<body>
{% endblock %}

{% block sonata_page_top_bar %}

    {% block page_top_bar %} {# Deprecated block #}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block sonata_page_container %}
    {{ parent() }}
{% endblock %}

{% block sonata_page_asset_footer %}
    {% block page_asset_footer %} {# Deprecated block #}
        {{ parent() }}
    {% endblock %}
{% endblock %}

